.header {
    padding: 5px 0;
    background: $_gray;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.651);
    &__link {
        font-size: 16px;
        font-weight: 600;
        color: #fdfdfd;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: rgb(255, 255, 255);
            text-decoration: underline;
        }
    }
}
