%task-ico {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
        color: #e4414c;
    }
}

@keyframes footer {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes header {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-item {
    width: 100%;
    position: relative;
    border-radius: 2px;
    border: 1px solid #9192a7;
    color: #000;
    z-index: 200;
    cursor: pointer;
    &__header,
    &__footer {
        background: #ececec;
    }
    &__header {
        padding: 8px 10px 5px;
        box-shadow: inset 0 -2px 2px #9192a738;
        i {
            @extend %task-ico;
        }
    }
    &__body {
        position: relative;
        z-index: 20;
        padding: 10px;
        background: #f8faf9;
    }
    &__footer {
        box-shadow: inset 0 2px 2px #9192a738;
        ul li {
            padding: 0px 10px;
            border-top: 1px solid rgba(0, 0, 0, 0.055);
            &.deadline {
                padding: 5.5px 10px !important;
            }
        }
    }
    &__date-picker-short {
        padding: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        .ant-picker-input {
            display: none;
        }
    }
    &__btn {
        padding: 0 10px;
        border: none;
        background: none;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
        transition: 0.2s ease-in-out;
        &.done {
            color: #fff;
            background: #e4414cbb;
            &:hover {
                background: #e4414c;
            }
        }
        &.cancel {
            color: #6e6e6e;
            &:hover {
                color: #4d4c4c;
            }
        }
    }
    &__link {
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        color: #1ba0ec;
        transition: 0.2s ease-in-out;
        &:hover {
            color: #158ed4;
        }
    }
}
