.task-add {
    position: relative;
    padding: 10px 20px;
    background: rgba(236, 236, 236, 0.466);
    border-radius: 5px;
    &:not(.is-change):hover .task-add__helpers {
        opacity: 1;
    }
    &.is-checked label span {
        text-decoration: line-through;
    }
    &__info {
        font-size: 13px;
        span {
            font-size: 12px;
        }
    }
    &__helpers {
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease-in-out;
    }
}
