%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: $_raduis;
    transition: 0.2s ease-in-out;
    span {
        transition: 0.2s ease-in-out;
    }
}

%btn-ico {
    @extend %btn;
    padding-top: 3.5px;
    min-width: 28px;
    max-height: 28px;
    font-size: 20px;
}

.btn-ico-lignt {
    @extend %btn-ico;
    color: #fff;
    &:hover {
        color: #fff;
        background: rgba(5, 5, 5, 0.356);
        box-shadow: 0 0 4px 2px rgba(207, 207, 207, 0.384);
    }
}

.btn-add {
    @extend %btn;
    padding: 0;
    color: $_red;
    font-size: 14px;
    &:hover span {
        color: #fff;
    }
    i {
        line-height: 1;
        font-size: 25px;
        margin-right: 5px;
    }
}

.btn-add {
    @extend %btn;
    padding: 0;
    color: $_red;
    font-size: 14px;
    &:hover span {
        color: #fff;
    }
    i {
        line-height: 1;
        font-size: 25px;
        margin-right: 5px;
    }
}
