.search {
    position: relative;
    z-index: 300;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-bottom: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.205);
    cursor: pointer;
    background: rgb(43, 42, 42);
    transition: 0.2s ease-in-out;
    &:hover {
        background: rgb(54, 54, 54);
    }
}

.title {
    width: 100%;
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    &:hover {
        color: rgb(219, 219, 219);
    }
}
