// antd
@import "~antd/dist/antd.css";

// bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

// common
@import "common/text";
@import "common/logo";
@import "common/link";
@import "common/ico";

// components
@import "components/task-item";

// containers
@import "containers/header";

// custom antd
@import "antd/drawer";
@import "antd/messages";

body {
    background: #696969;
    color: #fff;
}

p {
    margin-bottom: 0;
}
